extends ./resume-layout
include ./mixins

block title
  title= basics.name

block header
  header
    h1= basics.name
    p= basics.label
    address
      ul
        li
          a(href='tel://' + basics.phone)= basics.phone
        li
          a(href='mailto://' + basics.email)= basics.email
        each profile in basics.profiles
          +profile(profile)

block about
  +section('about')
    p= basics.summary

block experience
  +section('experience')
    each workItem in work
      section
        header
          h3= workItem.company
          div= workItem.position
          div
            +time(workItem.startDate)
            | ~
            +time(workItem.endDate)
        p= workItem.summary
        ul
          each highlightItem in workItem.highlights
            li= highlightItem

block skills
  +section('skills')
    each skill in skills
      section
        h3= skill.name
        ul
          each keyword in skill.keywords
            li= keyword

block education
  +section('education')
    each educationItem in education
      section
        header
          h3= studyType
          div= educationItem.area
        div= educationItem.institution
        div
          +time(educationItem.startDate)
          | ~
          +time(educationItem.endDate)
        div= educationItem.gpa

block languages
  +section('languages')
    ul
      each language in languages
        li
          span= language.name
          span= language.level

block interests
  +section('interests')
  ul
    each interest in interests
      li= interest.name

block references
  +section('references')
    ul
      each reference in references
        li
          q= reference.reference
          span= reference.name
