extends ./resume-layout
include ./mixins

block title
  title= basics.name

block header
  header.basics
    amp-img.picture(src=basics.picture, alt='picture', width=80, height=80)
    .title
      h1.name= basics.name
      div.label= basics.label

block address
  amp-img.qr(
    src='data:image/svg+xml;utf8,' + qr, alt='qr-code',
    width=80, height=80
  )
  address.profiles
    ul.list
      li
        span.fa.fa-map-marker
        span= basics.location.city + ', ' + basics.location.countryCode
      li
        span.fa.fa-phone
        a(href='tel://' + basics.phone)= basics.phone
      li
        span.fa.fa-envelope
        a(href='mailto://' + basics.email)= basics.email
      each profile in basics.profiles
        if profile.network != 'StackOverflow'
          +profile(profile)
  div.so-flair-container
    amp-img.so-flair(
      src='http://stackoverflow.com/users/flair/165674.png?theme=clean',
      alt='Stack Overflow flair', width=208, height=58
    )

block about
  +section('About', 'fa-user')
    p= basics.summary

block experience
  +section('Experience', 'fa-building')
    each workItem in work
      section
        header
          h3= workItem.company
          div= workItem.position
          div
            +time(workItem.startDate)
            | ~
            +time(workItem.endDate)
        p= workItem.summary
        ul
          each highlightItem in workItem.highlights
            li= highlightItem

block skills
  +section('Skills', 'fa-wrench')
    each skill in skills
      section
        h3= skill.name
        ul
          each keyword in skill.keywords
            li= keyword

block education
  +section('Education', 'fa-graduation-cap')
    each educationItem in education
      section
        header
          h3= studyType
          div= educationItem.area
        div= educationItem.institution
        div
          +time(educationItem.startDate)
          | ~
          +time(educationItem.endDate)
        div= educationItem.gpa

block interests
  +section('Interests', 'fa-heart')
    ul
      each interest in interests
        li= interest.name

block languages
  +section('Languages', 'fa-language')
    ul
      each language in languages
        li
          span= language.name
          span= language.level

block references
  +section('References', 'fa-thumbs-up')
    ul
      each reference in references
        li
          q= reference.reference
          span= reference.name
